.flex{
    display: flex;
    background-color: lightblue;
}
.flex > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
div div{
  display: inline-block;
  background-color: lightgreen;
  
}
