@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family:  "Quicksand", sans-serif;
    
}
div{
    padding: 10px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2px;
}
.container .item{
    width: 12%;
}
.item img{
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 10px;
}
img:hover{
    background-color: skyblue;
}
a{
    text-decoration: none;
    color: black;
}
.all-cards .card img {
    position: relative;
    z-index: 2;
}

.all-cards .card {
    display: flex;
    align-items: center; 
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px 0 20px 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.all-cards .card:hover::after {
    bottom: 0;
}

.all-cards .card:hover p {
    color: #fff;
}

.all-cards .card:hover h2 {
    color: #fff;
}

.all-cards .card::after {
    content: "";
    z-index: 1;
    background-color: skyblue;
    width: 100%;
    height: 100%;
    bottom: -100%;
    position: absolute;
    left: 0;
    transition: .3s;
}

.all-cards .card p,
.all-cards .card h2 {
    margin: 0;
    position: relative;
    z-index: 2;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img{
    height: 40px;
}.companyname2{
    
        height: 50px;
        width: 100px;
        padding: 10px;
        object-fit: contain;
        border: 1px solid #27A8DF;
        border-radius: 10px;
        margin: 10px;
        display: flex;
    
    }
    .companyname{
       
            padding: 10px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /* position: relative; */
            animation: mymove infinite;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            top: 0;
    }
    .div{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        font-size: larger;
    }
.footer {
    background-color:#576988 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: aliceblue;
   
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.facebook{
    display: inline;
}
a{
    color: aliceblue;
}
div ul+ul li{
    display: inline;
    margin: 10px;
    padding: 20px;
}
.div{
    background-color:#576988 ;
}
.copyright{
border-top: 3px solid white;
color: white;
}
div ul{
    padding: 0;
    
}
.logo{
    display:flex;
    margin: 10px;

    
}
div ul+ul li a {
    margin: 20px;
}
